.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  height: fit-content;
  align-self: center;
  @apply w-60;
}
.submit {
  margin-top: auto;
  width: fit-content;
  align-self: center;
}
