@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

@layer base {
  :root {
    --background: 0, 0%, 93%;
    --foreground: 0, 0%, 20%;

    --popover: 0, 0%, 88%;
    --popover-inner: 0, 0%, 85%;
    --popover-foreground: 0, 0%, 20%;

    --card: 0, 0%, 86%;
    --card-inner: 0, 0%, 78%;
    --card-foreground: 0, 0%, 20%;

    --primary: 34, 100%, 63%;
    --primary-hover: 34, 100%, 73%;
    --primary-focus: 34, 100%, 68%;
    --primary-foreground: 0, 0%, 93%;

    --secondary: 10, 86%, 53%;
    --secondary-hover: 14, 100%, 60%;
    --secondary-focus: 14, 100%, 55%;
    --secondary-foreground: 0, 0%, 93%;

    --accent: 197, 81%, 48%;
    --accent-hover: 196, 83%, 42%;
    --accent-focus: 196, 83%, 37%;
    --accent-foreground: 0, 0%, 93%;

    --destructive: 0, 48%, 43%;
    --destructive-hover: 0, 46%, 37%;
    --destructive-focus: 0, 37%, 28%;
    --destructive-foreground: 0, 0%, 93%;

    --border: 0, 0%, 80%;
    --input: 0, 0%, 94%;

    --muted: 0, 0%, 71%;
    --muted-foreground: 0, 0%, 40%;

    --ring: 210, 40%, 54;
    --shadow: 0, 0%, 20;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 20%;
    --foreground: 0, 0%, 93%;

    --popover: 0, 0%, 20%;
    --popover-inner: 0, 0%, 27%;
    --popover-foreground: 0, 0%, 93%;

    --card: 0, 0%, 27%;
    --card-inner: 0, 0%, 33%;
    --card-foreground: 0, 0%, 93%;

    --primary: 34, 100%, 63%;
    --primary-hover: 34, 100%, 73%;
    --primary-focus: 34, 100%, 68%;
    --primary-foreground: 0, 0%, 93%;

    --secondary: 10, 86%, 53%;
    --secondary-hover: 14, 100%, 60%;
    --secondary-focus: 14, 100%, 55%;
    --secondary-foreground: 0, 0%, 93%;

    --accent: 197, 81%, 48%;
    --accent-hover: 196, 83%, 42%;
    --accent-focus: 196, 83%, 37%;
    --accent-foreground: 0, 0%, 93%;

    --destructive: 0, 48%, 43%;
    --destructive-hover: 0, 46%, 37%;
    --destructive-focus: 0, 37%, 28%;
    --destructive-foreground: 0, 0%, 93%;

    --border: 0, 0%, 33%;
    --input: 0, 0%, 13%;

    --muted: 0, 0%, 40%;
    --muted-foreground: 0, 0%, 71%;

    --ring: 208, 36%, 37%;
    --shadow: 0, 0%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  background-color: transparent;
  color: hsl(var(--foreground));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 20px;
  border: transparent;
}

* {
  box-sizing: border-box;
  *::-webkit-scrollbar {
    height: 0.4rem;
    width: 0.4rem;
    cursor: pointer;
    padding: 0.2rem;
  }
}
